/*  
    .main_box = Finestra principal del programa.
    .main_buttons = Botons de la finestra principal.
    .main_labels = Etiquetes principals del programa. 
*/

.main_box {
    background-color: #2c2e30;
}

.main_buttons {
    color: #ffffff;
    border-color: #FF6600;
    background: #FF6600;
    border-radius : 10px;
}

.main_buttons:hover {
    background: #ff983f;
    border-radius: 50px;
}

.main_labels {
    color: #FFFFFF;
    font-weight: bold;
}