/*  
    .main_box = Finestra principal del programa.
    .main_buttons = Botons de la finestra principal.
    .main_labels = Etiquetes principals del programa. 
*/

.main_box {
    background-color: aquamarine;
}

.main_buttons {
    color: aquamarine;
    background: black;
}

.main_buttons:hover {
    color: blueviolet;
}

.main_labels {
    color: red;
    font-weight: bold;
}